<div *ngFor="let p of products">
<div class="card col-md-3"   *ngIf="products">
  <img src="{{this.host+'/photoProduct/'+p.id}}" alt="Denim Jeans" style="width:100%">
  <h1>
    {{ (p.name.length>6)? (p.name | slice:0:6)+'..':(p.name) }}
  </h1>
  <p class="price">{{(p.currentPrice | number: '0.2' )+' $'}}</p>
  <p>{{ (p.description | slice:0:14 )+ '...'}}</p>
  <p><button>Add to Cart</button></p>
</div>
</div>

<!--<div class="card-deck" *ngIf="products">-->




<!--  <div class="card col-md-3" *ngFor="let p of products">-->
<!--    <img class="card-img-top" src="assets/images/unknown.png" alt="Card image cap">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">{{p.name}}</h5>-->
<!--      <p class="card-text">{{p.description}}</p>-->
<!--&lt;!&ndash;      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--
: "RNcda6sGBS2lnTs",
description: "BsmwW5wo24koAoSdLS8CtUErAjFkpyNmtpgGArmUDGaRWED1nRd2dQ3SvLiW9v5irg",
currentPrice: 9629,
-->
