<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a (click)="onClickHome()">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="col-md-3">
    <ul class="list-group" *ngIf="categories">
      <li  *ngFor="let c of categories" class="list-group-item"
           [ngClass]="currentCategoryID==c.id ? 'active':''"
           (click)="getProductsByCategory(c.id)"
      >
        {{c.name}}
<!--        <a [routerLink]="'products/99/'+c.id">{{c.name}}</a>-->
<!--        <a >{{c.name}}</a>-->

      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
